<div class="error" style="background: black; display:flex; justify-content:center; height:100vh; width:100vw">
    <a class='error__link' 
        href="/"
        style="align-self:center">
        <img src="https://steamuserimages-a.akamaihd.net/ugc/80340220921196487/A46106BCC978E720CB704C3FA7DD225E318F3FA2/" alt="">
    </a>
</div>