<a class="logout" href="/logout">Logout</a>
<div class="presentation">
    <p>Hi <em>{{name}}</em> !</p>
    <p> Please join us and sign this petition to finally stop people taking selfies 
    everytime and everywhere !</p>
    <p>{{count}} signed the petition</p>
</div>

{{#if errorMessage}}
    <div class="error">{{errorMessage}}</div>
{{/if}}

<form class="form" method="POST">
    {{!-- <div class="name__container">
        <input type="text" name="firstName" class="input" placeholder="First name" autocomplete="off" autofocus>
        <input type="text" name= "lastName" class="input" placeholder="Last name" autocomplete="off">
    </div> --}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="signature" class="signature">
    <canvas class="canvas" width="500" height="200"></canvas>
    <label for="signature" class="label">sign here</label>
    <button class='btn btn__submit'>SUBMIT</button>
</form>

<script src="/canvas.js"></script>
