{{#if errorMessage}}
    <div class="error">{{errorMessage}}</div>
{{/if}}

{{#if message}}
    <div class="success">{{message}}</div>
{{/if}}

<div class="presentation">
    <p> Look at that guy ... how annoying...!</p>
     <a href="/selfies">Have a look here</a>
    <p> Please join us and sign this petition to recognize selfies to be the most uncool things to do !</p>
    {{#count}}<p class="count">The petition has been signed {{.}}.</p>{{/count}}
</div>

<form class="form" method="POST">
    <input type="text" name="firstName" class="input" placeholder="First name" autocomplete="off" autofocus>
    <input type="text" name= "lastName" class="input" placeholder="Last name" autocomplete="off">
    <input type="text" name="email" class="input" placeholder="email" autocomplete="off">
    <input type="password" name= "password" class="input" placeholder="password">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class='btn btn__register'>REGISTER</button>
</form>

<a class="login" href="/login">Login</a>