<ul class="selfie__container">
    <li><img class="selfie" src="/assets/selfie/selfie2.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie1.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie3.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie4.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie5.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie6.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie7.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie8.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie9.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie10.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie11.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie12.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie13.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie14.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie15.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie16.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie17.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie18.jpg" /></li>
    <li><img class="selfie" src="/assets/selfie/selfie19.jpg" /></li>
</ul>
<a class="go-back" href="/thanks">Go Back</a>

<script src="/jquery-3.3.1.min.js"></script>
<script src="/slideshow.js"></script>
