<a class="logout" href="/logout">Logout</a>
<div class="presentation__signers">Hey <em>{{name}}</em>, here are the other signers: </div>

<div class="signers">
    {{#each signers}}
        <div class="signer__name">
            {{first_name}} {{last_name}}
        </div>
    {{/each}}
</div>
